body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    top: 0;
    text-align: center;
    background-color: green;
    position: fixed;
}

#picture_area {
    padding-top: 80px;
    text-align: center;
}

#minha_foto {
    width: 200px;
}

.footer {
    position: fixed;
    background-color: green;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.footer p {
    color: white;
}

