body {
    background-color: rgb(253, 251, 251);
    font-family: monospace, sans-serif, serif;
    font-size: medium;
    line-height: 20px;
    text-align: justify;
}

#cabecalho {
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #1DB61E;
    position: fixed;
    color: white;
    font-family: monospace;
    z-index: 1000;
}

#picture_area {
    padding-top: 80px;
    text-align: center;
}

#minha_foto {
    width: 200px;
    border-radius: 50%;
}

.footer {
    padding: 1em;
    margin-top: 2%;
    height: auto;
    background-color: #1DB61E;
    text-align: center;
}

.footer p {
    color: white;
}

main, aside {
    display: inline-block;
}

main{
    width: 71%;
    padding: 20px;
    border: 2px solid black;
}

aside {
    position: absolute;
    width: 18.5%;
    margin-left: 1%;
    right: 1%;
    border: 2px solid black;
    padding: 20px;
}

h2 {
    text-align: center;
}